{% extends 'base.html' %}
{% block content %}
{{ super() }}
    

<div class="row p-2">
    <div class="col">
        <h1 class="mt-1">Categories</h1>
    </div>

    <!-- Button trigger modal для кнопки "Add" -->
    <div class="col mt-2">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addCategory">
            Add
        </button>
    </div>
        
        <!-- Modal для кнопки "Add" -->
        <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <!-- "Add" form -->
                    <form action="/categories" method="post" class="form-contact">
                        <input type="text" name="category" class="form-control" placeholder="new category">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary mt">Submit</button>
                        </div>
                        
                                                        
                    </form>


                </div>
                
            </div>
            </div>
        </div>
</div>


<table class="table">
<thead>
    <tr>
    <th scope="col">id</th>
    <th scope="col">Name</th>
    <th scope="col">Actions </th>
    </tr>
</thead>
<tbody>
    {% for i in categories %}
        <tr>
            <td class="pt-3">{{ i.id }}</td>
            <td class="pt-3">{{ i.name }}</td>
            <td>

                <!-- Button trigger modal для кнопки "edit" -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editCategory{{i.id}}">
                    edit
                </button>
                <!-- Кнопка "delete" -->
                <button type="button" class="btn btn-danger">
                <a href="/delete_category/{{i.id}}">
                    delete
                </a>
                </button>
                


                <!-- Modal editCategory для кнопки "edit" -->
                <div class="modal fade" id="editCategory{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <!-- Edit form-->
                            <form action="/edit_category/{{ i.id }}" method="post" class="form-contact">
                                <input type="text" name="new_name" class="form-control" value="{{ i.name }}" >
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary mt">Submit</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                                
                                                                
                            </form>

                    </div>
                    </div>
                </div>


                

            </td>
        </tr>
    {% endfor %}
</tbody>   
</table>




{% endblock %}